<html>
  <head>
    <%= stylesheet_link_tag "dashboard" %>
    <%= javascript_include_tag 'jquery' %>
    <%#= javascript_include_tag "prototype" %>
    <%= stylesheet_link_tag 'extra_buttons' %>
    <%= javascript_include_tag 'jquery_data_table.js' %>
    <%= stylesheet_link_tag 'jquery.dataTables' %>
    <script type="text/javascript" charset="utf8" src="/javascripts/jquery.dataTables.min.js"></script>
	<script src="/javascripts/jquery.table2CSV.min.js" type="text/javascript"></script>
    <script>
      jQuery(document).ready(function($) {

        $('#table_id').dataTable({
		"bAutoWidth": false,
		"sScrollY": "374px",
		"bPaginate": true,
		"bFilter": true,
		"bProcessing": true,
		//"sPaginationType": "full_numbers",
		"sPageButton": "paginate_button"

		//"bInfo":false
     	});
        
        document.getElementById('content').style = 'position : relative; width : 98%; margin-left : -49%;'
        document.getElementById('description').style = 'color:#777;position:absolute;margin-top:-70px;'
        $('#finish').click(function() {
                window.location = '/clinic/index?user_id=<%=params[:user_id]%>&location_id=<%params[:location_id]%>'
            })

      })
    </script>
    <style>
      #backspace{
        position:absolute;
        left:100px;
        bottom:2px;
      }

      #Space{
        position:absolute;
        left:220px;
        bottom:2px;
        width:200px;
      }

      #clear{
        position:absolute;
        left:470px;
        bottom:2px;
      }
      #num{
        position:absolute;
        left:470px;
        bottom:2px;
        width:200px;
      }
      #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 304px;
        padding: 5px;
        position: absolute;
        right: 13px;
        top: 194px;
        width: 672px;
      }
    </style>
    <style>
      div {
        -moz-user-select: none;
      }
      .basic_span {
        position:relative;
        width:50%;
        display:block;
        float:left;
      }

      .logo {
        float:left
      }

      .odd {
        background-color: #eeeef7;
      }
      .even {
        background-color: #fff;
      }


      .horizontal_line hr{
        position:absolute;
        bottom:104px;
      }
	#table_id {
    	width: 100%;
    }

    #table_id_filter{
		position:absolute;
		top:0px;
		right:1%;
		margin-top:-40px;
    }

    #table_id_filter input{
    	padding:0.5em;
    }


    .dataTables_length select {
   		font-size: 25px;
	}
	.horizontal_line hr{
	 	position:absolute;
	 	bottom:94px;
	}
	#table_id_info{
	 	position:fixed;
	 	left:700px;
	 	font-weight:bold;
	 	top:675px;
	}
      #num{ display:none; }
      #char{ display:none; }

      div.scrollTableContainer {
        border-style:solid;
        height:68%;
        width: 99%;
        left: 10px;
        overflow: auto;
        position: absolute;
        top: 152px;
      }
    </style>
  </head>
  <body >
    <%= image_tag(@logo, :class => "logo")%>
    <br /><b style="margin-left:75px"><%= Location.current_health_center.name rescue "" %></b><br />

    <b style="position:relative; top:0px;margin-left:75px"><%= @report_name.humanize.split.map{|w| w.capitalize}.join(' ') %></b><br />





    <div   class='scrollTableContainer'>
      <!--table width="100%">
        <tr style="color: #fff; background-color: #6281a7;">
		  <th colspan="2">
			Total By Gender
		  </th>
		  <th colspan="2">
			Total By Location
		  </th>
		</tr>
		<tr>
		  <td>Male : <%=  @gender["M"] %></td>
		  <td>Female : <%=  @gender["F"] %></td>
		  <td colspan="2">
			<table >
        <% @location.each do | loc, num|  %>
          <% if ! loc.blank? %>
                                          <tr>
                                    <td align="center">
            <%= loc %>
                                                </td>
                                                <td align="center">
            <%= num %>
                                                </td>
                                          </tr>
          <% end %>
        <% end %>
			</table>
		  </td>
		</tr>
      </table-->
      <table width="100%" id="table_id">
        <thead>
          <tr style="color: #fff; background-color: #6281a7;" width="100%">
            <th align="left"  width="20%">Name<p />
            </th>
            <th  width="5%">Gender  <p />
            </th>
            <th  width="20%">Age  <p />
            </th>
            <th  width="20%">Residence <p />
            </th>
        </thead>
        <tbody>
          <% @total.each do |patient| %>
            <tr class="<%= cycle('even', 'odd') %>">
              <td width="20%"> <span style="display:block; width:90%;"> <%= "#{patient[0]}" %> </span> </td>
              <td align="center"  width="5%" align="center"> <%= "<span > #{patient[1]} </span> " %></td>
              <td  width="20%" align="center"><%= "<span > #{patient[2]} </span> " %></td>
              <td  width="20%" align="center"><%= "<span > #{patient[3]} </span> " %></td>
            </tr>
          <% end %>

        </tbody>
      </table>

    </div>
    <div id="keypad">
      <span class="keypad">
      </span>
    </center>

  </div>
  <div id="footer" class="dark">
    <div id="buttons" class="buttons" style="top:0px">
      <button id="finish" class="green"><span>Finish</span></button>
    </div>
  </div>
</div>
</body>
</html>
